.DS_Store
*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.ckpt
*.pth
*.jpg
*.png
reconstruction
viz
*.gif
output/

# Dataset files.
dataset/*

#Build Files
submodules/diff-gaussian-rasterization/build/
submodules/simple-knn/build/
submodules/diff-gaussian-rasterization/third_party

output/*
*.pt
*.txt
logs/*

snapshot_fw.dump

checkpoints/*
datasets/*
examples/*
third_party/*
*.md
LICENSE

.venv/